.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  text-align: center;
}
p {
  font-family: Courier;
  border: 4px double rgb(211, 214, 28);
  height: 400px;
  width: 600px;
  word-wrap: break-word;
}
button {
  font-family: Courier;
}